<script src="~/Content/CollaborativeEditing/data.js"></script>
<script src="~/Content/CollaborativeEditing/index.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/CollaborativeEditing/styles.css">

<div class="demo-container">
    <div id="data-grid-demo">
        <div id="gridContainer"></div>
    </div>
    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <span>Session ID:</span>
            <div id="sessionId"></div>
        </div>
    </div>
</div>

<p>@Html.ActionLink("Back", "Index2", "Home")</p>