<script src="~/Content/Column3RdPartyEngineTemplate/data.js"></script>
<script src="~/Content/Column3RdPartyEngineTemplate/index.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Column3RdPartyEngineTemplate/styles.css">
<br><br><br><br>
<h5>Tampilan Data Grid dengan Foto</h5>
<div class="demo-container">
    <div id="gridContainer"></div>
    <script id="gridPhoto" type="text/html">
        <div class="photo">
            <img src="<%= value %>" />
        </div>
    </script>

</div>

<p>@Html.ActionLink("Back", "Index2", "Home")</p>