
    <script src="~/Content/grid_edit/data.js"></script>
<script src="~/Content/grid_edit/index.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/grid_edit/styles2.css">
<br><br><br><br>
<h5>Tampilan Data Grid untuk edit</h5>
<div class="demo-container">
    <div id="data-grid-demo">
        <div id="gridContainer"></div>
    </div>
</div>
<p>@Html.ActionLink("Back", "Index2", "Home")</P>