<script src="~/Content/RowEditingAndEditingEvents/data.js"></script>
<script src="~/Content/RowEditingAndEditingEvents/index.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/RowEditingAndEditingEvents/styles.css">

<div class="demo-container">

    <div id="gridContainer"></div>

    <div id="events">
        <div>
            <div class="caption">
                Fired events
            </div>
            <div id="clear"></div>
        </div>
        <ul></ul>
    </div>
</div>

<p>@Html.ActionLink("Back", "Index2", "Home")</p>