
    <script src="~/Content/Simple_Array/data.js"></script>
<script src="~/Content/Simple_Array/index.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Simple_Array/styles2.css">
<br><br><br><br>
<h5>Tampilan Data Grid</h5>
<div class="demo-container">
    <div id="gridContainer"></div>
</div>

<p>@Html.ActionLink("Back", "Index2", "Home")</P>