
<script src="~/Content/Web_API_Service/data.js"></script>
<script src="~/Content/Web_API_Service/index.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Web_API_Service/styles2.css">
<br><br><br><br>
<h5>Tampilan Data Grid</h5>
<div class="demo-container">
    <div id="grid"></div>
</div>


<p>@Html.ActionLink("Back", "Index2", "Home")</P>